

server {                   
	listen 192.168.1.50:8080
	# this is going to be ignored
	server_name test
	error_page 404 400 504 test.html
	client_max_body_size 50000G
	root test
	location includes/ {
		root study
		allowed_methods GET POST DELETE
		autoindex on
	}
	location = test.html {
		allowed_methods GET
	}
}

server {
	root src
	listen 192.168.1.50:8080
	server_name test.com
	location /study {
		return 302 /parsers
	}
	location / {
		index index.html
	}
	location cgi_test {
		#cgi_path .py /usr/bin/python3
	}
}

server {
	root src
	listen 80 50.50.50.50
	server_name test2.com
	location /study {
		return 302 /parsers
	}
	location / {
		index index.html
	}
	location cgi_test {
		#cgi_extension .py
		#cgi_path .py /usr/bin/python3
	}
}
