server {                   
	listen 127.0.0.1:8080 8081
	# this is going to be ignored
	#error_page 404 pages/4xx/404.html
	#client_max_body_size 50000G
	root ./
	#index index.htm index.htmlx index.html
	#index rickroll-roll.gif
	#autoindex off
	location / {
		root ./pages
		autoindex on
		#index index.html
		upload_dir ./tester
	}
}

server {
	listen 8081
	error_page 404 pages/4xx/404.html
	client_max_body_size 10
	root ./
	upload_dir ./pages
	location / {
		return 302 http://www.youtube.com/
	}
	location /src {
		autoindex on
		allowed_methods GET
		root ./includes
		error_page 404 pages/4xx/403.html
	}
}


# To use this config file correctly, be sure that this is in the same place where the server is being executed
# Set up a default error page: curl -v 127.0.0.1:8080/nonexistant or 127.0.0.1:8080/nonexistant through Firefox
# Limite the size of the client request body: 
# curl -v -X POST -H "Content-Type: plain/text" --data "HERE write something shorter or longer than body limit" 127.0.0.1:8080/NAME_OF_THE_FILE
# If it doesn't have a upload_dir defined, it returns a 405.
# If it does, the name of the upload_dir appends to root. For example:
# - if root is ./pages and upload_dir is /www, the final result is ./pages/www
# to limit the size of the request, just change the value of the variable client_max_body_size

