

server {                   
	listen 127.0.0.3:8080
	# this is going to be ignored
	server_name test
	error_page 404 400 504 test.html
	client_max_body_size 50000G
	root test
	location includes/ {
		root study
		allowed_methods GET POST
		autoindex on
	}
	location = test.html {
		allowed_methods GET
	}
}

server {
	root src
	listen 127.0.0.1:8080
	server_name test.com
	location /study {
		return 302 /parsers
	}
	location / {
		index index.html
	}
	location cgi_test {
		cgi_extension .py
		cgi_path .py /usr/bin/python3
	}
}
