server {                   
	listen 127.0.0.1
	server_name test
	client_max_body_size 100k
	cgi_allowed .bla /home/ncampbel/Desktop/github/rank5/Webserv/42evaluationTesters/ubuntu_cgi_tester
	location / {
		autoindex on
		allowed_methods GET
		upload_dir ./tester
	}
	location /post_body {
		root ./pages
		allowed_methods POST
		autoindex on
	}
	location /directory {
		root ./YoupiBanane
		allowed_methods GET
		index youpi.bad_extension
	}
}
