server {                   
	listen 127.0.0.1
	server_name test
	cgi_allowed .bla /home/dioalexa/Desktop/webserver/42evaluationTesters/ubuntu_cgi_tester
	location / {
		autoindex on
		allowed_methods GET
		upload_dir ./tester
	}	
	location /post_body {
		root ./pages
		client_max_body_size 100
		allowed_methods POST
		autoindex on
	}
	location /directory {
		root ./YoupiBanane
		allowed_methods GET POST
		index youpi.bad_extension
	}
}
